.App {
  /* text-align: center; */
  /* max-width: 1200px;
  min-width: 800px; */
  height: 100vh;
  background-color: whitesmoke;
}

.App-header {
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 60px;
}

.App-header span {
  margin: 0px 20px;
}

.todo {
  width: 200px;
  height: 100px;
  border: 2px solid green;
  border-radius: 20px;
}

li::marker {
  content: none;
}
